.header {
  @include flex();
  position: fixed;

  height: 15rem;
  width: 100%;
  padding: $p-2;

  background-color: $primary-color;
  clip-path: polygon(0 0, 100% 0, 100% 0, 15vh 100%);
  z-index: 10;
}