.navbar {
    position: absolute;
    margin-left: 8.5rem;

  &__lists {
    @include flex();

  }

  &__list {
    padding: $p-1-5;
    list-style: none;

  }

  &__link {
    padding: $p-0-5 0;

    color: $color-white;
    text-decoration: overline;
    font-size: $font-12;

    @include transition();

    &:hover {
      text-decoration: none;
      border-bottom: 1px solid $color-violet;
      color: $color-violet;
      
    }
  }
}

.back {
  position: relative;
  top: 100px;
  color: $color-violet;

  &:hover {
    color: $color-violet-darken;
    border-bottom: 1px solid $color-violet-darken;
  }
}